/* 
declaration block:

selector{
property: value;
property: value;
}
 */

 body{
  background-color: rgb(37, 0, 139);
  color: whitesmoke;
}

nav{
  height: 600px;
  width: 200px;
  float: left;
  padding: 5px;
  line-height: 30px;
}

footer{
  text-align: center;
  margin-right: 200px;
}

#memeImage{
  margin-right: 50px;
  width: 100px;
}

h1{
  text-align: left;
}
